*{
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
    max-width: 80%;
    min-height: 80vh;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
}

header{
    width: 100%;
    height: 50px;

    background-color: #dddddd;
}

nav{
    width: 80%;
    height: inherit;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

a{
    text-decoration: none;
    padding: .5rem 1rem;
    color: #000;
    border-radius: 4px;
}

a:hover{
    background-color: #fff;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

li{
    display: inline-block;
}

.card{
    min-height: 250px;
    background-color: #dddddd;
    border-radius: 8px;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}